[user]
        name = Olivier Perez
        email = olivier.perez@olivierperez.fr

[credential]
        helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret

[core]
        editor = vim

[branch]
	autosetuprebase = always
	
[pull]
	rebase = preserve

[rebase]
        autoSquash = true

[rerere]
	enabled = true

[color]
        ui = true

[color "diff"]
        old = red
        new = green
        frag = magenta dim

[push]
	default = upstream

[alias]
	ap = add -p
	amend = commit --amend --no-edit
	amendedit = commit --amend
	br = branch
	changes = diff --name-status -w
	chpi = cherry-pick
	chpix = cherry-pick -x
	cm = commit
	co = checkout
	diw = diff --word-diff -w
	dic = diff --cached -w
	dis = diff --stat -w
	fixup = commit --fixup
	it = "!git init && git commit -m 'Initial commit' --allow-empty"
	merge = merge --no-ff
	mergeff = merge --ff
	please = push --force-with-lease
	shorty = status --short --branch
	st = status -u
	undo = reset --soft HEAD^
	who = shortlog -sne

	prune = !git br --merged master | egrep -v ".*(dev|master|release).*" | xargs git branch -d

	track = !git branch -vv | grep "^*" | sed -re 's/^\\* ([^ ]+) .*\\[(.+)].*$/\\1 -> \\2/'
	aliases = config --get-regexp ^alias.

	rlog = log -g --oneline --date=format:'%y%m%d %H:%M:%S'

	grog = log --graph --abbrev-commit --decorate --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n          %C(yellow)%s%C(reset)'

	l = log --pretty='%C(yellow)%h -%Creset %s%Creset' --color=always --abbrev-commit --graph
	lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --color=always --abbrev-commit --date=iso
	lgs = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --color=always --abbrev-commit --date=iso --stat
	lgp = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --color=always --abbrev-commit --date=iso -p
	lgsp = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --color=always --abbrev-commit --date=iso --stat -p

	la = !git l --all
	lga = !git lg --all
	lgsa = !git lgs --all
	lgpa = !git lgp --all
	lgspa = !git lgsp --all

	lh = !git l | head -n 25
	lgh = !git lg | head -n 25
	lgsh = !git lgs | head -n 25
	lgph = !git lgp | head -n 25
	lgsph = !git lgsp | head -n 25

	ignoreSSL = config --local http.sslVerify false
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
